// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1, h3 {
  text-align: center;
}

.container {
  margin: 30px;
}

.add-new-form {
  margin: 10px 10%;
  padding: 10px;
}

//landing
.landing {
  margin: 20px;
  padding: 0 10px;
}

.landing-content {
  align-self: center;
  padding: 10px;
}

.landing p {
  font-size: 20px;
}

